.bt_admin{
    top:10%;
    left:25px;
    z-index: 12;
    position: fixed;
    font-weight: bold;
    padding-top:5px;
    background-image: url(../../../public/upload/admin.png);
    color:white;
    border-radius: 50%;
    width:70px;
    height:40px;
    text-align: center;

}
.bt_admin a{
    text-decoration: none;
    font-size: 20px;
    
}
.bt_admin:hover {
  transform: scale(1.5);
}