
#header{
    width:95%;
    height:70px;
    background-color: rgb(94, 250, 107);
    position: fixed;
    left:2%;
    top:0px;
    z-index: 2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
#header #logoweb{
    width:50px;
    height:50px;
    background-image: url(../image/logoweb.jpg );
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin-left:5%;
    margin-top:8px;
    float:left;
}
#header #form-search{

    float:left;
    height:40px;
    width:50%;
    margin-left:3%;
    margin-top:13px;
}
#header #form-search #txtinput{
    width:90%;
    height:100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
    float:left;
    padding-left:10px;
}
#header #form-search #butsubmit{
    background-image: url(../image/imgsearch.png);
    background-size: cover;
    background-position: center;
    border:none;
    width:7%;
    height:105%;
    float:left;
    margin-left:-5px;
    border-radius: 5px;
    transition:0.3s;
}


#header #butgiohang{
    border-radius: 3px;
    width:40px;
    height:40px;
    margin-top:15px;
    float:left;
    background-image: url(../image/icongiohang.png);
    background-size: cover;
    background-position: center;
    border:none;
}
